:root {
    --ash_color: #234f79;
    --dark_color: #18222d;
    --white: #ffffff;
    --mini_white: #ffffffe5;
    --clr1: rgba(240, 54, 54, 0.705);
    --clr2: #00000028;
    --clr3: #10ff38;
    --clr4:  #0d1320;
    --clr5:  #ececec;
  }