    
/* code by seddike */

.credit_txt{
    font-size: .7rem;
}
#contact{
scroll-margin-top: 6rem;
}
.lastUpdateDate{
    font-size: .7rem;
    margin-top: 1.5rem;
}
/* .lastUpdateDate span{
    font-size: .7rem;
} */
