/* !------- কাস্টম & font ইন্সটল--------- */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Comfortaa:wght@300;400;500;600;700&family=Foldit:wght@100;200;300;400;500;600;700;800;900&family=Hind+Siliguri:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face{
    font-family: paapri;
    src: url(../fonts/Paapri.ttf);
}
@font-face{
    font-family: SN;
    src: url(../fonts/SN.ttf);
}



/* ============================================================================================ */

  :root {
    --bn_font_1: paapri;
    --bn_font_2: 'Hind Siliguri', sans-serif;
    --bn_font_3: SN;
    --bn_font_4: 'Comfortaa', sans-serif;
    --bn_font_5: 'Baloo Da 2', sans-serif;
    --bn_font_6: 'Foldit', sans-serif;
    --bn_font_7: 'Hind Siliguri', sans-serif;
    --bn_font_8: 'Ubuntu', sans-serif;
  }