
*{
margin: 0;
padding: 0;
font-family: 'Comfortaa', cursive;
user-select: none;
}


@media  (min-width: 250px) { /* 1226px width */

body{
background-color: rgb(255, 255, 255);
}
.menuBar_area{
position: sticky;
width: 100%;
box-shadow: 0 4px 8px -2px rgb(192, 192, 192);
background-color: #1387fc;
padding: 20px 0px;
}
.site_logo{
/* padding: 1rem; */
text-align: left;
padding-left: 6%;
width: 80%;
font-size: 2rem;
font-weight: 700;
color: rgb(255, 255, 255);
background-color: transparent;
}
.site_logo span{
/* padding: 1rem; */
font-size: 1.5rem;
font-weight: 300;
color: rgb(255, 255, 255);
background-color: transparent;
}
#menu_btn{
    /* background-color:var(--clr5); */
    background: transparent;
    color:var(--clr5);
    padding: 7px 7px;
    border-radius: 10px;
    border: 2px solid #1387fc;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 5%;
    cursor: pointer;
    transition: 0.4s;
}
#menu_icn{
    font-size:1.35rem;
    color: rgb(255, 255, 255);
}
#menu_btn:hover{
    /* border: 2px solid rgb(226, 226, 226); */
    box-shadow:  1px 1px 8px 1px rgb(255, 255, 255),
                -1px -1px 8px 1px rgb(255, 255, 255);
}
.form_area{
    width: 25rem;
    max-width: 70vw;
    /* height: 13rem; */
    background-image: linear-gradient(1800deg, #57fa93dc 0%, #58c1f5de 100%);
    margin: 5rem auto;
    display: block;
    padding: 1.2rem;
}
.form_lebel{
padding: 1rem;
margin-bottom: .5rem;
text-align: center;
font-size: 1.3rem;
font-weight: 700;
color: rgb(255, 255, 255);
}

.credit{
    width: 100%;
    margin: auto;
    position: fixed;
    bottom: 8%;
    text-align: center;
    text-decoration: none ;
}
.p2{
font-size:1rem ;
font-weight: normal ;
margin-top: 0.5rem ;
color: #234f79;
}
.p2 a{
text-decoration: none;
color: #234f79;
/* color: #57fa93; */
font-size:1.01rem ;

}
.p3{
font-size:1rem ;
font-weight: normal ;
margin-top: 0.5rem ;
color: #234f79;
}
.p3 a{
text-decoration: none;
color: #234f79;

/* color: #57fa93; */
font-size:1.01rem ;

}
.p3 a:hover{
    text-decoration: underline;
}

}
