

 @media screen and (min-width: 335px) {
    


/* ################ Started Styling for page ############################ */

*{
margin: 0;
padding: 0;
font-family: 'Comfortaa', cursive;
user-select: none;
}
/* .xtr_links_1{
    text-decoration: none;
} */
a{
    text-decoration: none;
}

body{
    /* background-color: rgb(255, 255, 255); */
    background-color: var(--dark_color);

}





/* >>>>>>>>>>>>>>>>>>>> Header area started <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.header{
    position: sticky;
    top: 0;
    width: 100%;
}
.menuBar_area{
    /* position: sticky; */
    width: 100%;
    box-shadow: 0 0px 8px -1px rgba(194, 194, 194, 0.219);
     /* background-color: #1387fc; */
    background-color: var(--dark_color); 
    /* background-color: transparent; */
    /* backdrop-filter: blur(10px); */
    padding: 20px 0px;
}
.site_logo{
    /* padding: 1rem; */
    text-align: left;
    padding-left: 6%;
    padding-right: 7rem;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: transparent;
}
.site_logo a{
    color: rgb(255, 255, 255);

}
.site_logo span{
    font-family: var(--bn_font_14);
    font-size: 1.7rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    background-color: transparent;
}
#menu_btn{
    /* background-color:var(--clr5); */
    background: transparent;
    color:var(--clr5);
    padding: 7px 7px;
    border-radius: 10px;
    border: 2px solid var(--dark_color);
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 5%;
    cursor: pointer;
    transition: 0.4s;
}
#menu_icn{
    font-size:1.35rem;
    color: rgb(255, 255, 255);
}
#menu_btn:hover{
    /* border: 2px solid rgb(226, 226, 226); */
        box-shadow:  1px 1px 8px 1px rgb(255, 255, 255),
            -1px -1px 8px 1px rgb(255, 255, 255);
}
.form_area{
    width: 25rem;
    max-width: 70vw;
    /* height: 13rem; */
    background-image: linear-gradient(1800deg, #57fa93 0%, #58c0f5 100%);
    margin: 4.5rem auto;
    display: block;
    padding: 1.2rem;
}
/* >>>>>>>>>>>>>>>>>>>> Header area end <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */







/* >>>>>>>>>>>>>>>>>>>> MAin area started <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.main{
    /* background-color: antiquewhite; */
    background-color: var(--dark_color);
    /* padding-bottom: 8rem; */
}
.post_area{
    /* min-height: 50rem; */
    max-width: 100vw;

}
.post_area_header_space{
    width: 100%;
    /* margin-bottom: 2rem; */


}
.post_area_header_btn_area{
    margin: auto;
    max-width: 90vw;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
}
/* .filter_btn,
.search_bar{
    background-color: transparent;
    backdrop-filter: blur(10px);
} */
.filter_btn{
    max-width: 9rem;
    width: 32vw;
    border-radius: 5px;
    border: 1px none;
    background-color: var(--mini_white);
    padding: .2rem 1rem;
}
.search_bar{
    /* min-width: 8rem; */
    max-width: 15rem;
    width: 33vw;
    height: 30px;
    border-radius: 5px;
    border: 1px none;
    padding: .2rem 1rem;
    background-color: var(--mini_white);
    font-size: .8rem;
    color: rgb(0, 0, 0);
}
.post_area_wrapper hr{
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    /* margin-top: 1rem; */
}
.post_card_wrapper{
    width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap:wrap;
    margin-bottom: 4rem;
}
/* ---Post card info started-------------------- */
.post_card{
    max-width: 23rem;
    min-width: 20rem;
    width: 100%;
    border: 1.2px solid #ffffff81;
    border-radius: 10px;
    background-color: var(--dark_color);
    margin: 1rem;
    /* box-shadow: 0 0 10px -1px #ffffff2d; */
    user-select: none;

}
.post_card:hover{
    box-shadow:inset 0 0 10px 5px #ffffff2a;
    box-shadow: 0 0 10px -1px #ffffff;
    border: 1.2px solid var(--dark_color);
}
.p_c_header_area{
    /* width: 100%; */
    padding: 1rem 1.5rem;
    /* line-height: 1.8em; */
    /* margin-bottom: 1rem; */
}
.c_hearder{
    font-family: var(--bn_font_2);
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--white);
}
.p_c_img_area{
    width: 100%;
    /* padding: 1rem 1.5rem; */
    /* margin-bottom: .4rem; */
}
.c_pic{
    width: 100%;
    height: auto;

}
.p_c_writter_area{
    /* width: 100%; */
    padding: 1rem 1rem;
}
.c_author{
    font-weight: normal;
    font-size: .9rem;
    color: var(--white);
}
.p_c_discription_area{
    /* width: 100%; */
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}
.c_discription{
    font-family: var(--bn_font_2);
    font-weight: normal;
    font-size: .9rem;
    color: var(--white);
}
.readMore{
    color:aqua;
    font-size: .9rem;
    
}
.readMore:hover{
    color:rgb(255, 30, 0);
    font-size: 1.1rem;
    text-decoration: underline;
}
.readMore::after{
    color:rgb(255, 30, 0);
    font-size: 1.1rem;
    text-decoration: underline;
}
.p_c_time_area{
    /* width: 100%; */
    padding: 0rem 1rem;
    margin-bottom: 1rem;
    display: inline-block;
}
.c_upTime{
    font-family: var(--bn_font_2);
    font-weight: normal;
    font-size: .8rem;
    color: var(--white);
    display: inline-block;
    margin-right: 2rem;
}
.c_readingTime{
    font-family: var(--bn_font_2);
    font-weight: normal;
    font-size: .8rem;
    color: var(--white);
    display: inline-block;

}
/* ---Post card info end--------- */


/* >>>>>>>>>>>>>>>>>>>> main area end <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */














/* >>>>>>>>>>>>>>>>>>>> Popup area started <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.popup_window_bg{
    position: fixed;
    backdrop-filter: blur(10px);
    /* background-color:rgba(0, 0, 0, 0.692); */
    top: 0px;
    width: 100%;
    height:100%;
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    display: block;
}
.popup_window_bg::-webkit-scrollbar {
    display: none;
  }
.X{
    border: none;
    /* margin: .5rem .5rem ; */
    cursor: pointer;
    padding: 5px ;
    background-color:rgb(245, 245, 245);
    border-radius: 50%;
    padding: 4px 7px 3px 7px ;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 2.5rem;
    right: 5vw;
    transform: translate(-10%, -70%);
    /* display: none; */
}
.X:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;  
}
#X_icon{
    font-size: 1.5rem;
}
.messege_popup_wrapper{
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 5rem;
    /* margin-bottom: 15vh; */
    width:27rem ;
    max-width: 89vw;
    /* max-height: 25rem; */
    background-color: transparent;
    border: none;
    display: block;
}
.messege_popup{
    width:100% ;
    /* max-width: 89vw; */
    /* max-height: 25rem; */
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0 0 20px 1px var(--clr2);
    border: 1px solid rgb(153, 194, 241);
    margin-bottom: 4vh;
    display: block;
    position: relative;
}
.X_messege_popup{
    border: none;
    margin: .5rem .5rem ;
    cursor: pointer;
    color: rgb(138, 138, 138);
    background-color: transparent;
    position: absolute;
    top: .5rem;
    right: .6rem;
    display: block;
}
.X_messege_popup:hover{
    color: rgb(255, 0, 0);
    cursor: pointer;  
}
#X_icon_msg{
    font-size: 1.3rem;
}
.m_p_header{
    padding: 1rem 2rem;
}
.m_p_header_text{
    font-size: 1.3rem;
    color: rgb(138, 138, 138);
    text-align: center;
}
.messege_popup hr{
    width: 92%;
    margin: auto;
    color: rgb(182, 180, 180);
}
.m_p_content{
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0rem;
}
.m_p_content p{
    font-family: paapri,'Comfortaa' ;
    font-size: 1.1rem;
    font-weight: 500;
}
.m_p_c_p1{
    text-align: center;
}
.m_p_c_p5 {
    font-size: .5rem;
}
.m_p_c_p5 i{
    padding-left: 1rem;
    color: #234f79;
    font-size: 1rem;
}
.m_p_c_p5 a{
    /* color: #0265c2; */
    font-size: 1rem;
}
/* >>>>>>>>>>>>>>>>>>>> Popup area end <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */




































/* >>>>>>>>>>>>>>>>>>>> footer area started <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

#hr_2{
    margin-bottom: 10vh;
    margin-top: 25vh;
}
.footer{
    width: 100%;
    height: 10vh;
    margin: auto;
    /* margin-top: 25rem; */
    /* padding-top: 1.5rem; */
    background-color: var(--dark_color); 
    /* background-color: #d86c6c; */
    box-shadow: 0 0px 5px -1.5px rgba(194, 194, 194, 0.336);
    display: flex;
    align-items: center;
    justify-content: center;
}
.credit{
    max-width: 70vw;
    /* margin: auto; */
    /* padding-top: 1vh;
    padding-bottom: 1vh; */
    text-align: center;
    text-decoration: none ;

}
.p2{
    font-size:1rem ;
    font-weight: normal ;
    margin-top: 0.2rem ;
    /* color: #234f79; */
    color: #ffffff;
    text-align: center;

}
.p2 span{
    font-size:1.01rem ;
}
/* >>>>>>>>>>>>>>>>>>>> Footer area end <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */








}