*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}
body{
    background-color: rgb(255, 255, 255);
}
.site_logo{
    padding: 1.3rem .5rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: #1387fc;
    position: sticky;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.753);
    cursor: none;
}
.form_area{
    width: 25rem;
    max-width: 70vw;
    border-radius: 10px;
    /* height: 13rem; */
    background-image: linear-gradient(1800deg, #57fa93 0%, #58c0f5 100%);
    margin: 4.5rem auto;
    margin-top: 15vh;
    display: block;
    padding: 1.2rem;
    box-shadow: 0 19px 38px -1px rgba(0, 0, 0, 0.110),
                 -0 5px 20px -8px rgba(0, 0, 0, 0.089);}
.form_lebel{
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    /* color: rgb(255, 255, 255); */
    background-image: linear-gradient(-20deg, #b721ff 0%, #006a81 100%);
    color: transparent;
    background-clip: text;
    cursor: none;
}
.pass_box{
    padding: 0.7rem 2rem;
    border-radius: 10px;
    width: 16rem;
    max-width: 50vw;
    border: .1px transparent;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.sub_box{
    /* padding: 0.8rem 0rem; */
    margin: auto;
    border:none;
    background: none;
    color: #086de0;
    display: block;
    /* margin-right: auto; */
    /* margin-left: auto; */
    font-size:1rem ;
    cursor: pointer;
    transition: .2s;
    height: 1.7rem;
    width: 5rem;
    border-radius: 5px;
    font-weight: 600;
    /* background-color: #03b343; */
}
.sub_box:hover{
    color: #086de09f;
    font-weight: 600;
    font-size:.85rem ;
    /* padding: 0.71rem 0rem; */

}
.err_msg{
    text-align: center;
    color: red;
    display: none;
}
.content_links_box{
    width: 70vw;
    border: 3px solid rgb(29, 119, 255);
    border-radius: 15px;
    margin: 5rem auto;
    padding: 4rem;
    display: none;
}
.content_links{
    width: 10rem;
    height: 3rem;
    margin: 1.5rem ;
    border: 1px solid;
    border-radius: 5px;
    background-color: #15552d;
}
.content_links a{
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.content_links:hover{
    background-color: #03b343;
}


/* .footer{
    max-width: 70vw;
    height: 3rem;
    margin: auto;
    margin-top: 12rem;
    text-align: center;
    text-decoration: none ;
 }
 .links{
    font-size:1rem ;
    font-weight: normal ;
    margin-top: 0.2rem ;
    color: #234f79;
    text-decoration: none;
 } */
.credit{
    max-width: 70vw;
    height: 3rem;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 2rem;
    text-align: center;
    text-decoration: none ;
 }
 .credit > p,a,span{
    font-family: var(--bn_font_13);
    font-size: .9rem;
    cursor: context-menu;
 }
.p2{
   font-size:1rem ;
   font-weight: normal ;
   margin-top: 0.2rem ;
   color: #234f79;
}
.p2 a{
    text-decoration: none;
    color: #234f79;
    /* color: #57fa93; */
    font-size:1.01rem ;
    cursor: pointer;
}